/**
* hacking ie lte 8 stylesheet for audio pwPlayer
* @author Ipedis
* License: Creative Common 3.0 BY-SA <https://creativecommons.org/licenses/by-sa/3.0/legalcode>
*
*/


div.soundWrapper span.toolTip {
	margin-top:13px;
    background-repeat: repeat-x;
    padding-top: 0px;
    margin-top: 12px;
}