/**
* hacking ie lte 7 stylesheet for audio pwPlayer
* @author Ipedis
* License: Creative Common 3.0 BY-SA <https://creativecommons.org/licenses/by-sa/3.0/legalcode>
*
*/

div.timeBar div.time{
    display : inline;
}


div.soundWrapper span.toolTip {
	margin-top:13px;
    background-repeat: repeat-x;
    padding-top: 0px;
}